# Impact of School Quality on House Prices in London Boroughs

## Overview
Analyze UK state-funded schools and House Price Index (HPI) data to examine school ratings across regions and their relationship with housing prices.

## Objective
- Aggregate Ofsted ratings by school phase and local authority.  
- Merge school performance with HPI data for regional insights.

## Datasets
1. `UK-HPI-full-file-2025-07.csv` – House Price Index (HPI) data for UK regions.  
2. `National_Statistics_Postcode_Lookup_UK.csv` – Postcode to local authority mapping.  
3. `Management_information_-_state-funded_schools_-_latest_inspections_as_at_31_Aug_2025.csv` – School performance and Ofsted ratings.

## Key Libraries
- pandas, numpy, matplotlib, seaborn

## Notebook Outline
1. Data Loading & Cleaning  
2. School Ratings Aggregation  
3. HPI Processing  
4. Merging Schools & HPI Data  
5. Export Final Dataset

In [48]:
# Import required libraries for data analysis

# pandas: used for data cleaning, manipulation, and working with DataFrames
import pandas as pd

# numpy: provides support for numerical operations and multi-dimensional arrays
import numpy as np

# matplotlib: core plotting library for creating visualizations
import matplotlib.pyplot as plt

# seaborn: statistical visualization library built on top of matplotlib
import seaborn as sns

In [49]:
# Load the House Price Index dataset from a CSV file into a pandas DataFrame for analysis

file = pd.read_csv('UK-HPI-full-file-2025-07.csv')

In [50]:
# Display a summary of the dataset, including column names, data types, and missing values

file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147060 entries, 0 to 147059
Data columns (total 54 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    147060 non-null  object
 1   RegionName              147060 non-null  object
 2   AreaCode                147060 non-null  object
 3   AveragePrice            147060 non-null  int64
 4   Index                   147060 non-null  float64
 5   IndexSA                 5169 non-null    float64
 6   1m%Change               146607 non-null  float64
 7   12m%Change              142200 non-null  float64
 8   AveragePriceSA          5169 non-null    float64
 9   SalesVolume             142593 non-null  float64
 10  DetachedPrice           140319 non-null  float64
 11  DetachedIndex           140319 non-null  float64
 12  Detached1m%Change       139924 non-null  float64
 13  Detached12m%Change      135603 non-null  float64
 14  SemiDetachedPrice       140319 non-null  float64
 15  SemiDetachedIndex       140319 non-null  float64
 16  SemiDetached1m%Change   139924 non-null  float64
 17  SemiDetached12m%Change  135603 non-null  float64
 18  TerracedPrice           140430 non-null  float64
 19  TerracedIndex           140430 non-null  float64
 20  Terraced1m%Change       140034 non-null  float64
 21  Terraced12m%Change      135702 non-null  float64
 22  FlatPrice               140686 non-null  float64
 23  FlatIndex               140686 non-null  float64
 24  Flat1m%Change           140290 non-null  float64
 25  Flat12m%Change          135958 non-null  float64
 26  CashPrice               63896 non-null   float64
 27  CashIndex               63896 non-null   float64
 28  Cash1m%Change           63504 non-null   float64
 29  Cash12m%Change          59192 non-null   float64
 30  CashSalesVolume         63106 non-null   float64
 31  MortgagePrice           63896 non-null   float64
 32  MortgageIndex           63896 non-null   float64
 33  Mortgage1m%Change       63504 non-null   float64
 34  Mortgage12m%Change      59192 non-null   float64
 35  MortgageSalesVolume     63109 non-null   float64
 36  FTBPrice                64292 non-null   float64
 37  FTBIndex                64292 non-null   float64
 38  FTB1m%Change            63900 non-null   float64
 39  FTB12m%Change           59588 non-null   float64
 40  FOOPrice                63896 non-null   float64
 41  FOOIndex                63896 non-null   float64
 42  FOO1m%Change            63504 non-null   float64
 43  FOO12m%Change           59192 non-null   float64
 44  NewPrice                139694 non-null  float64
 45  NewIndex                139694 non-null  float64
 46  New1m%Change            139298 non-null  float64
 47  New12m%Change           134966 non-null  float64
 48  NewSalesVolume          136976 non-null  float64
 49  OldPrice                139898 non-null  float64
 50  OldIndex                139898 non-null  float64
 51  Old1m%Change            139502 non-null  float64
 52  Old12m%Change           135170 non-null  float64
 53  OldSalesVolume          139886 non-null  float64
dtypes: float64(50), int64(1), object(3)
memory usage: 60.6+ MB

In [51]:
# Preview the first few rows of the dataset to understand its structure and contents

file.head()

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,Detached12m%Change,SemiDetachedPrice,SemiDetachedIndex,SemiDetached1m%Change,SemiDetached12m%Change,TerracedPrice,TerracedIndex,Terraced1m%Change,Terraced12m%Change,FlatPrice,FlatIndex,Flat1m%Change,Flat12m%Change,CashPrice,CashIndex,Cash1m%Change,Cash12m%Change,CashSalesVolume,MortgagePrice,MortgageIndex,Mortgage1m%Change,Mortgage12m%Change,MortgageSalesVolume,FTBPrice,FTBIndex,FTB1m%Change,FTB12m%Change,FOOPrice,FOOIndex,FOO1m%Change,FOO12m%Change,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
0,01/01/2004,Aberdeenshire,S12000034,84638,41.1,NaN,NaN,NaN,NaN,388.0,130620.0,43.2,NaN,NaN,73972.0,40.9,NaN,NaN,58247.0,38.8,NaN,NaN,49322.0,45.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112843.0,40.7,NaN,NaN,103.0,81273.0,41.0,NaN,NaN,285.0
1,01/02/2004,Aberdeenshire,S12000034,84623,41.1,NaN,0.0,NaN,NaN,326.0,129330.0,42.7,-1.0,NaN,74225.0,41.1,0.3,NaN,58669.0,39.1,0.7,NaN,50364.0,46.7,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113061.0,40.8,0.2,NaN,107.0,81194.0,40.9,-0.1,NaN,219.0
2,01/03/2004,Aberdeenshire,S12000034,86536,42.1,NaN,2.3,NaN,NaN,453.0,131585.0,43.5,1.7,NaN,76201.0,42.2,2.7,NaN,60399.0,40.2,2.9,NaN,51719.0,47.9,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115218.0,41.6,1.9,NaN,140.0,83137.0,41.9,2.4,NaN,313.0
3,01/04/2004,Aberdeenshire,S12000034,87373,42.5,NaN,1.0,NaN,NaN,571.0,130454.0,43.1,-0.9,NaN,78082.0,43.2,2.5,NaN,62326.0,41.5,3.2,NaN,53143.0,49.2,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115247.0,41.6,0.0,NaN,180.0,84241.0,42.5,1.3,NaN,391.0
4,01/05/2004,Aberdeenshire,S12000034,89493,43.5,NaN,2.4,NaN,NaN,502.0,132762.0,43.9,1.8,NaN,80340.0,44.5,2.9,NaN,64442.0,42.9,3.4,NaN,54678.0,50.7,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117377.0,42.4,1.8,NaN,167.0,86466.0,43.6,2.6,NaN,335.0

In [52]:
# Generate summary statistics for numerical features to understand data distribution

file.describe()

,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,Detached12m%Change,SemiDetachedPrice,SemiDetachedIndex,SemiDetached1m%Change,SemiDetached12m%Change,TerracedPrice,TerracedIndex,Terraced1m%Change,Terraced12m%Change,FlatPrice,FlatIndex,Flat1m%Change,Flat12m%Change,CashPrice,CashIndex,Cash1m%Change,Cash12m%Change,CashSalesVolume,MortgagePrice,MortgageIndex,Mortgage1m%Change,Mortgage12m%Change,MortgageSalesVolume,FTBPrice,FTBIndex,FTB1m%Change,FTB12m%Change,FOOPrice,FOOIndex,FOO1m%Change,FOO12m%Change,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
count,1.470600e+05,147060.000000,5169.000000,146607.000000,142200.000000,5169.000000,142593.000000,1.403190e+05,140319.000000,139924.000000,135603.000000,1.403190e+05,140319.000000,139924.000000,135603.000000,1.404300e+05,140430.000000,140034.000000,135702.000000,1.406860e+05,140686.000000,140290.000000,135958.000000,6.389600e+04,63896.000000,63504.000000,59192.000000,63106.000000,6.389600e+04,63896.000000,63504.000000,59192.000000,63109.000000,6.429200e+04,64292.000000,63900.000000,59588.000000,6.389600e+04,63896.000000,63504.000000,59192.000000,1.396940e+05,139694.000000,139298.000000,134966.000000,136976.000000,1.398980e+05,139898.000000,139502.000000,135170.000000,139886.000000
mean,1.813891e+05,59.256240,61.557303,0.529999,6.162483,167213.066164,1251.860905,3.387566e+05,59.357947,0.466396,5.997384,2.080354e+05,58.866635,0.485366,6.206206,1.669201e+05,58.966146,0.491103,6.311631,1.204911e+05,65.319568,0.421953,5.500416,2.524758e+05,81.064760,0.333020,4.196594,322.247377,2.538988e+05,80.612718,0.345973,4.346851,729.103250,2.112398e+05,80.962905,0.338277,4.223179,3.038950e+05,80.478169,0.343104,4.326725,2.174670e+05,61.051266,0.505372,6.276853,136.118933,1.830864e+05,59.475309,0.473751,6.117425,1136.523533
std,1.301619e+05,26.326855,24.754778,1.940279,8.660919,94022.453488,7705.090289,3.400705e+05,24.897845,1.702701,7.883752,2.204271e+05,25.432490,1.690287,8.274270,1.851460e+05,25.796740,1.736659,8.610575,9.680371e+04,25.192207,1.771708,9.008677,1.503034e+05,14.460871,1.470996,4.970177,1995.891681,1.468440e+05,14.725150,1.460896,4.925809,4503.464651,1.233065e+05,14.598819,1.479161,4.997066,1.794828e+05,14.662162,1.464887,4.927214,1.328504e+05,26.034297,1.760466,8.018539,845.120114,1.299093e+05,25.219316,1.735224,8.447235,6959.003296
min,2.553000e+03,0.800000,13.900000,-30.300000,-35.800000,39008.000000,2.000000,4.011700e+04,9.400000,-19.600000,-30.200000,2.497300e+04,9.000000,-19.700000,-29.400000,1.940700e+04,8.800000,-20.000000,-29.400000,1.571200e+04,8.800000,-30.300000,-28.900000,5.840500e+04,43.500000,-19.200000,-27.400000,1.000000,6.624100e+04,43.300000,-19.100000,-27.900000,1.000000,5.719900e+04,42.400000,-19.100000,-28.300000,7.195100e+04,43.400000,-19.100000,-27.400000,2.244300e+04,8.000000,-29.800000,-28.900000,1.000000,2.271600e+04,9.000000,-30.600000,-30.300000,2.000000
25%,9.966275e+04,37.300000,45.800000,-0.500000,1.100000,114968.000000,140.000000,1.773700e+05,40.500000,-0.500000,1.300000,1.079955e+05,39.000000,-0.400000,1.400000,8.475025e+04,37.800000,-0.500000,1.300000,6.733725e+04,47.300000,-0.600000,-0.100000,1.504865e+05,69.200000,-0.500000,0.900000,38.000000,1.542438e+05,68.500000,-0.400000,1.100000,86.000000,1.313460e+05,69.000000,-0.500000,0.900000,1.811470e+05,68.500000,-0.500000,1.100000,1.266938e+05,41.600000,-0.500000,1.700000,10.000000,1.013262e+05,40.100000,-0.500000,1.100000,126.000000
50%,1.532620e+05,60.700000,62.000000,0.500000,5.200000,152059.000000,215.000000,2.579390e+05,59.700000,0.500000,5.200000,1.588910e+05,59.400000,0.500000,5.200000,1.273360e+05,60.400000,0.500000,5.300000,9.913600e+04,69.000000,0.400000,4.300000,2.128200e+05,81.300000,0.300000,3.900000,58.000000,2.147085e+05,80.700000,0.400000,4.000000,133.000000,1.796480e+05,81.100000,0.300000,3.900000,2.531210e+05,80.600000,0.300000,4.000000,1.963865e+05,61.200000,0.500000,5.400000,21.000000,1.535605e+05,60.400000,0.500000,5.200000,193.000000
75%,2.278622e+05,79.500000,79.800000,1.500000,10.200000,206621.000000,377.000000,3.918055e+05,78.900000,1.400000,10.000000,2.405595e+05,78.500000,1.400000,10.200000,1.944545e+05,78.500000,1.400000,10.400000,1.447810e+05,85.100000,1.400000,9.700000,3.097702e+05,94.400000,1.100000,7.200000,101.000000,3.093782e+05,94.200000,1.200000,7.300000,233.000000,2.537315e+05,94.400000,1.100000,7.200000,3.728442e+05,94.100000,1.200000,7.300000,2.749232e+05,81.800000,1.500000,10.200000,47.000000,2.285938e+05,78.700000,1.400000,10.200000,343.000000
max,1.656986e+06,153.100000,111.900000,35.300000,98.400000,574627.000000,183609.000000,5.820174e+06,147.000000,34.800000,92.600000,3.919683e+06,147.500000,35.300000,101.600000,3.888915e+06,148.000000,36.300000,106.900000,1.330583e+06,159.700000,36.100000,102.700000,1.621751e+06,154.200000,21.100000,56.500000,52162.000000,1.686923e+06,152.700000,21.500000,56.100000,128426.000000,1.417178e+06,154.000000,24.300000,55.900000,1.956287e+06,151.200000,21.300000,56.300000,1.414204e+06,149.600000,34.900000,96.200000,21097.000000,1.665089e+06,152.700000,35.600000,98.600000,166098.000000

Data Filtering Note

For initial exploration, Kent and Reading were included alongside the London boroughs. However, the final project scope focuses strictly on London boroughs, so these two regions were excluded from subsequent analysis.

In [53]:
places = ['Barking and Dagenham', 'Barnet','Bexley', 'Brent', 'Bromley', 'Camden', 'City of London','Croydon', 'Ealing', 
          'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 
          'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 
          'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 
          'Wandsworth', 'Westminster', 'Kent', 'Reading']

# Filter dataset to include selected London boroughs
# Note: 'Kent' and 'Reading' were removed in the final analysis as the project focuses specifically on London boroughs only.

df_filtered = file[file['RegionName'].isin(places)].copy()

# Preview the filtered data

df_filtered.head()

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,Detached12m%Change,SemiDetachedPrice,SemiDetachedIndex,SemiDetached1m%Change,SemiDetached12m%Change,TerracedPrice,TerracedIndex,Terraced1m%Change,Terraced12m%Change,FlatPrice,FlatIndex,Flat1m%Change,Flat12m%Change,CashPrice,CashIndex,Cash1m%Change,Cash12m%Change,CashSalesVolume,MortgagePrice,MortgageIndex,Mortgage1m%Change,Mortgage12m%Change,MortgageSalesVolume,FTBPrice,FTBIndex,FTB1m%Change,FTB12m%Change,FOOPrice,FOOIndex,FOO1m%Change,FOO12m%Change,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
3720,01/01/1995,Barking and Dagenham,E09000002,51870,14.7,NaN,NaN,NaN,NaN,96.0,97104.0,15.4,NaN,NaN,64825.0,14.2,NaN,NaN,53769.0,14.2,NaN,NaN,42297.0,17.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47143.0,16.8,NaN,NaN,5.0,51814.0,14.6,NaN,NaN,91.0
3721,01/02/1995,Barking and Dagenham,E09000002,52513,14.9,NaN,1.2,NaN,NaN,95.0,96445.0,15.3,-0.7,NaN,65599.0,14.4,1.2,NaN,54489.0,14.4,1.3,NaN,42367.0,17.3,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47686.0,17.0,1.2,NaN,4.0,52460.0,14.7,1.2,NaN,91.0
3722,01/03/1995,Barking and Dagenham,E09000002,52701,15.0,NaN,0.4,NaN,NaN,144.0,96518.0,15.3,0.1,NaN,65827.0,14.5,0.3,NaN,54683.0,14.4,0.4,NaN,42597.0,17.4,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48006.0,17.1,0.7,NaN,14.0,52633.0,14.8,0.3,NaN,130.0
3723,01/04/1995,Barking and Dagenham,E09000002,54618,15.5,NaN,3.6,NaN,NaN,109.0,99171.0,15.8,2.7,NaN,68208.0,15.0,3.6,NaN,56694.0,14.9,3.7,NaN,43981.0,17.9,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49587.0,17.7,3.3,NaN,14.0,54565.0,15.3,3.7,NaN,95.0
3724,01/05/1995,Barking and Dagenham,E09000002,54524,15.5,NaN,-0.2,NaN,NaN,149.0,99597.0,15.8,0.4,NaN,68195.0,15.0,0.0,NaN,56543.0,14.9,-0.3,NaN,44325.0,18.1,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49573.0,17.7,0.0,NaN,19.0,54463.0,15.3,-0.2,NaN,130.0

In [54]:
# Convert the 'Date' column to datetime format
# Any invalid dates will be set as NaT (Not a Time)
df_filtered['Date'] = pd.to_datetime(df_filtered['Date'], errors='coerce')

# Extract month and year components for further processing
df_filtered['Month'] = df_filtered['Date'].dt.day    
df_filtered['Year'] = df_filtered['Date'].dt.year

# Standardize all dates to the first day of the respective month
df_filtered['Date'] = pd.to_datetime({
    'year': df_filtered['Year'],
    'month': df_filtered['Month'],
    'day': 1
})

# Filter the dataset to include only data from 2015 onwards
df_recent = df_filtered[df_filtered['Date'] >= '2015-01-01'].reset_index(drop=True)

# Remove temporary 'Month' and 'Year' columns as they are no longer needed
df_recent = df_recent.drop(columns=['Month', 'Year'])

In [55]:
# Preview the first few rows of the cleaned and filtered dataset
# This helps verify that date preprocessing and filtering have been applied correctly
df_recent.head()

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,Detached12m%Change,SemiDetachedPrice,SemiDetachedIndex,SemiDetached1m%Change,SemiDetached12m%Change,TerracedPrice,TerracedIndex,Terraced1m%Change,Terraced12m%Change,FlatPrice,FlatIndex,Flat1m%Change,Flat12m%Change,CashPrice,CashIndex,Cash1m%Change,Cash12m%Change,CashSalesVolume,MortgagePrice,MortgageIndex,Mortgage1m%Change,Mortgage12m%Change,MortgageSalesVolume,FTBPrice,FTBIndex,FTB1m%Change,FTB12m%Change,FOOPrice,FOOIndex,FOO1m%Change,FOO12m%Change,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
0,2015-01-01,Barking and Dagenham,E09000002,226217,64.2,NaN,0.8,19.0,NaN,204.0,385114.0,61.2,0.7,19.5,282956.0,62.2,0.8,19.8,238859.0,62.9,0.8,19.1,168512.0,68.7,0.9,18.5,214783.0,64.5,0.9,18.9,33.0,227284.0,64.2,0.8,19.1,171.0,217934.0,64.4,0.8,19.2,251841.0,63.8,0.8,18.8,192295.0,68.6,1.1,17.5,28.0,226403.0,63.6,0.8,19.2,176.0
1,2015-02-01,Barking and Dagenham,E09000002,229145,65.0,NaN,1.3,20.2,NaN,184.0,388853.0,61.8,1.0,20.2,286267.0,62.9,1.2,20.6,241474.0,63.6,1.1,20.1,171526.0,69.9,1.8,20.2,217765.0,65.4,1.4,20.2,29.0,230181.0,65.0,1.3,20.2,155.0,220776.0,65.3,1.3,20.3,255056.0,64.6,1.3,20.0,196930.0,70.2,2.4,19.9,NaN,229145.0,64.4,1.2,20.3,184.0
2,2015-03-01,Barking and Dagenham,E09000002,228629,64.9,NaN,-0.2,17.1,NaN,183.0,388258.0,61.7,-0.2,17.0,285704.0,62.8,-0.2,17.4,240843.0,63.5,-0.3,17.1,171254.0,69.8,-0.2,17.2,217300.0,65.2,-0.2,17.2,34.0,229660.0,64.8,-0.2,17.1,149.0,220287.0,65.1,-0.2,17.2,254471.0,64.4,-0.2,17.0,197108.0,70.3,0.1,17.6,7.0,228567.0,64.2,-0.3,17.1,176.0
3,2015-04-01,Barking and Dagenham,E09000002,228382,64.8,NaN,-0.1,15.1,NaN,162.0,389017.0,61.8,0.2,15.8,285384.0,62.7,-0.1,15.3,240669.0,63.4,-0.1,14.9,170928.0,69.7,-0.2,15.3,217103.0,65.2,-0.1,15.2,30.0,229402.0,64.8,-0.1,15.0,132.0,220013.0,65.0,-0.1,15.1,254256.0,64.4,-0.1,15.0,196840.0,70.2,-0.1,15.5,8.0,228323.0,64.1,-0.1,15.1,154.0
4,2015-05-01,Barking and Dagenham,E09000002,228021,64.7,NaN,-0.2,12.8,NaN,167.0,389141.0,61.8,0.0,14.2,285443.0,62.7,0.0,13.5,240512.0,63.4,-0.1,12.7,170225.0,69.4,-0.4,12.8,216680.0,65.1,-0.2,12.9,28.0,229059.0,64.7,-0.1,12.8,139.0,219660.0,64.9,-0.2,12.9,253865.0,64.3,-0.2,12.8,195073.0,69.6,-0.9,12.0,23.0,228061.0,64.1,-0.1,12.9,144.0

In [56]:
# List all column names in the cleaned and filtered dataset
# This helps to quickly verify the dataset structure and available features
df_recent.columns.tolist()

['Date',
 'RegionName',
 'AreaCode',
 'AveragePrice',
 'Index',
 'IndexSA',
 '1m%Change',
 '12m%Change',
 'AveragePriceSA',
 'SalesVolume',
 'DetachedPrice',
 'DetachedIndex',
 'Detached1m%Change',
 'Detached12m%Change',
 'SemiDetachedPrice',
 'SemiDetachedIndex',
 'SemiDetached1m%Change',
 'SemiDetached12m%Change',
 'TerracedPrice',
 'TerracedIndex',
 'Terraced1m%Change',
 'Terraced12m%Change',
 'FlatPrice',
 'FlatIndex',
 'Flat1m%Change',
 'Flat12m%Change',
 'CashPrice',
 'CashIndex',
 'Cash1m%Change',
 'Cash12m%Change',
 'CashSalesVolume',
 'MortgagePrice',
 'MortgageIndex',
 'Mortgage1m%Change',
 'Mortgage12m%Change',
 'MortgageSalesVolume',
 'FTBPrice',
 'FTBIndex',
 'FTB1m%Change',
 'FTB12m%Change',
 'FOOPrice',
 'FOOIndex',
 'FOO1m%Change',
 'FOO12m%Change',
 'NewPrice',
 'NewIndex',
 'New1m%Change',
 'New12m%Change',
 'NewSalesVolume',
 'OldPrice',
 'OldIndex',
 'Old1m%Change',
 'Old12m%Change',
 'OldSalesVolume']

In [57]:
# Select only the relevant columns for analysis
# This reduces clutter and keeps the dataset focused on key features
useful_cols = ['Date', 'RegionName', 'AreaCode', 'AveragePrice','Index', 'IndexSA','AveragePriceSA',
               'SalesVolume','DetachedPrice','SemiDetachedPrice', 'TerracedPrice','FlatPrice', '12m%Change']

# Create a new DataFrame with only the selected columns
df_useful = df_recent[useful_cols].copy()

# Preview the first few rows of the dataset with selected columns
df_useful.head()

        Date            RegionName   AreaCode  AveragePrice  Index  IndexSA  AveragePriceSA  SalesVolume  DetachedPrice  SemiDetachedPrice  TerracedPrice  FlatPrice  12m%Change
0 2015-01-01  Barking and Dagenham  E09000002        226217   64.2      NaN             NaN        204.0       385114.0           282956.0       238859.0   168512.0        19.0
1 2015-02-01  Barking and Dagenham  E09000002        229145   65.0      NaN             NaN        184.0       388853.0           286267.0       241474.0   171526.0        20.2
2 2015-03-01  Barking and Dagenham  E09000002        228629   64.9      NaN             NaN        183.0       388258.0           285704.0       240843.0   171254.0        17.1
3 2015-04-01  Barking and Dagenham  E09000002        228382   64.8      NaN             NaN        162.0       389017.0           285384.0       240669.0   170928.0        15.1
4 2015-05-01  Barking and Dagenham  E09000002        228021   64.7      NaN             NaN        167.0       389141.0           285443.0       240512.0   170225.0        12.8

In [58]:
# Drop columns that are not needed for the analysis to simplify the dataset
df_useful = df_useful.drop(columns = ['IndexSA', 'AveragePriceSA'])

# Preview the updated dataset
df_useful.head()

        Date            RegionName   AreaCode  AveragePrice  Index  SalesVolume  DetachedPrice  SemiDetachedPrice  TerracedPrice  FlatPrice  12m%Change
0 2015-01-01  Barking and Dagenham  E09000002        226217   64.2        204.0       385114.0           282956.0       238859.0   168512.0        19.0
1 2015-02-01  Barking and Dagenham  E09000002        229145   65.0        184.0       388853.0           286267.0       241474.0   171526.0        20.2
2 2015-03-01  Barking and Dagenham  E09000002        228629   64.9        183.0       388258.0           285704.0       240843.0   171254.0        17.1
3 2015-04-01  Barking and Dagenham  E09000002        228382   64.8        162.0       389017.0           285384.0       240669.0   170928.0        15.1
4 2015-05-01  Barking and Dagenham  E09000002        228021   64.7        167.0       389141.0           285443.0       240512.0   170225.0        12.8

In [59]:
# Save the cleaned and processed dataset to a new CSV file
df_useful.to_csv('UK_HPI_2025_cleaned.csv', index=False)

In [60]:
# Load the state-funded schools inspection dataset into a pandas DataFrame
file1 = pd.read_csv('Management_information_-_state-funded_schools_-_latest_inspections_as_at_31_Aug_2025.csv',encoding = 'cp1252', low_memory = False)

# Preview the state-funded schools inspection dataset
file1.head()

,Web link (opens in new window),URN,LAESTAB,School name,Ofsted phase,Type of education,School open date,Admissions policy,Sixth form,Designated religious character,Religious ethos,Faith grouping,Ofsted region,Region,Local authority,Parliamentary constituency,Multi-academy trust UID,Multi-academy trust name,Academy sponsor UID,Academy sponsor name,Postcode,The income deprivation affecting children index (IDACI) quintile,Total number of pupils,Statutory lowest age,Statutory highest age,Latest ungraded inspection number since last graded inspection,Does the ungraded inspection relate to the URN of the current school?,URN at time of the ungraded inspection,LAESTAB at time of the ungraded inspection,School name at time of the ungraded inspection,School type at time of the ungraded inspection,Number of ungraded inspections since the last graded inspection,Date of latest ungraded inspection,Ungraded inspection publication date,Did the latest ungraded inspection convert to a graded inspection?,Ungraded inspection overall outcome,Number of monitoring and urgent inspections since last graded inspection,Inspection number of latest graded inspection,Inspection type,Inspection type grouping,Event type grouping,Inspection start date,Publication date,Does the latest graded inspection relate to the URN of the current school?,URN at time of latest graded inspection,LAESTAB at time of latest graded inspection,School name at time of latest graded inspection,School type at time of latest graded inspection,Overall effectiveness,Category of concern,Quality of education,Behaviour and attitudes,Personal development,Effectiveness of leadership and management,Safeguarding is effective?,Early years provision (where applicable),Sixth form provision (where applicable),Previous graded inspection number,Previous inspection start date,Previous publication date,Does the previous graded inspection relate to the URN of the current school?,URN at time of previous graded inspection,LAESTAB at time of previous graded inspection,School name at time of previous graded inspection,School type at time of previous graded inspection,Previous graded inspection overall effectiveness,Previous category of concern,Previous quality of education,Previous behaviour and attitudes,Previous personal development,Previous effectiveness of leadership and management,Previous safeguarding is effective?,Previous early years provision (where applicable),Previous sixth form provision (where applicable)
0,http://www.ofsted.gov.uk/inspection-reports/fi...,100000,2013614,The Aldgate School,Primary,Voluntary Aided School,NaN,Not applicable,Does not have a sixth form,Church of England,Does not apply,Christian,London,London,City of London,Cities of London and Westminster,NaN,NaN,NaN,NaN,EC3A 5DE,4.0,249.0,3,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10323215,S5 Inspection,S5 Inspection,Schools - S5,12/06/2024,11/07/2024,Yes,100000.0,2013614.0,The Aldgate School,Voluntary Aided School,1,NaN,1.0,1.0,1.0,1.0,Yes,2.0,9.0,ITS411816,18/04/2013,14/05/2013,Yes,100000.0,2013614.0,The Aldgate School,Voluntary Aided School,1.0,NaN,9.0,9.0,9.0,1.0,9,9.0,9.0
1,http://www.ofsted.gov.uk/inspection-reports/fi...,100005,2021048,Thomas Coram Centre,Nursery,LA Nursery School,NaN,Not applicable,Not applicable,Does not apply,Does not apply,Non-faith,London,London,Camden,Holborn and St Pancras,NaN,NaN,NaN,NaN,WC1N 2NY,3.0,116.0,2,5,10345614.0,Yes,100005.0,2021048.0,Thomas Coram Centre,LA Nursery School,2.0,23/05/2024,26/06/2024,No,School remains Outstanding,NaN,ITS425578,S5 Inspection,S5 Inspection,Schools - S5,05/06/2014,02/07/2014,Yes,100005.0,2021048.0,Thomas Coram Centre,LA Nursery School,1,NaN,9.0,9.0,9.0,1.0,9,9.0,9.0,ITS354786,17/01/2011,08/02/2011,Yes,100005.0,2021048.0,Thomas Coram Centre,LA Nursery School,1.0,NaN,9.0,9.0,9.0,1.0,9,1.0,9.0
2,http://www.ofsted.gov.uk/inspection-reports/fi...,100006,2021100,Heath School,PRU,Pupil Referral Unit,01/09/1999,Not applicable,Not applicable,Does not apply,Does not apply,Non-faith,London,London,Camden,Hampstead and Highgate,NaN,NaN,NaN,NaN,NW3 2NY,3.0,31.0,11,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10327859,S5 Inspection,S5 Inspection,Schools - S5,05/06/2024,04/07/2024,Yes,100006.0,2021100.0,Heath School,Pupil Referral Unit,2,NaN,2.0,1.0,1.0,1.0,Yes,9.0,9.0,ITS439444,24/04/2014,21/05/2014,Yes,100006.0,2021100.0,Heath School,Pupil Referral Unit,2.0,NaN,9.0,9.0,9.0,2.0,9,9.0,9.0
3,http://www.ofsted.gov.uk/inspection-reports/fi...,100007,2021101,Camden Primary Pupil Referral Unit,PRU,Pupil Referral Unit,NaN,Not applicable,Not applicable,Does not apply,Does not apply,Non-faith,London,London,Camden,Holborn and St Pancras,NaN,NaN,NaN,NaN,NW1 3EX,4.0,19.0,5,11,10289759.0,Yes,100007.0,2021101.0,Camden Primary Pupil Referral Unit,Pupil Referral Unit,2.0,27/09/2023,08/11/2023,No,School remains Good,NaN,ITS447889,S5 Inspection,S5 Inspection,Schools - S5,26/03/2015,05/05/2015,Yes,100007.0,2021101.0,Camden Primary Pupil Referral Unit,Pupil Referral Unit,2,NaN,9.0,9.0,9.0,2.0,9,9.0,9.0,ITS376334,01/12/2011,06/01/2012,Yes,100007.0,2021101.0,Camden Primary Pupil Referral Unit,Pupil Referral Unit,2.0,NaN,9.0,9.0,9.0,2.0,9,9.0,9.0
4,http://www.ofsted.gov.uk/inspection-reports/fi...,100008,2022019,Argyle Primary School,Primary,Community School,NaN,Not applicable,Does not have a sixth form,Does not apply,Does not apply,Non-faith,London,London,Camden,Holborn and St Pancras,NaN,NaN,NaN,NaN,WC1H 9EG,4.0,278.0,3,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10240870,S5 Inspection,S5 Inspection,Schools - S5,04/10/2022,17/11/2022,Yes,100008.0,2022019.0,Argyle Primary School,Community School,2,NaN,2.0,2.0,1.0,2.0,Yes,2.0,9.0,ITS448184,28/01/2015,26/02/2015,Yes,100008.0,2022019.0,Argyle Primary School,Community School,2.0,NaN,9.0,9.0,9.0,2.0,9,2.0,9.0

In [15]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21990 entries, 0 to 21989
Data columns (total 74 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Web link (opens in new window)                                                21990 non-null  object
 1   URN                                                                           21990 non-null  int64
 2   LAESTAB                                                                       21990 non-null  int64
 3   School name                                                                   21990 non-null  object
 4   Ofsted phase                                                                  21990 non-null  object
 5   Type of education                                                             21990 non-null  object
 6   School open date                                                              12784 non-null  object
 7   Admissions policy                                                             21990 non-null  object
 8   Sixth form                                                                    21990 non-null  object
 9   Designated religious character                                                19662 non-null  object
 10  Religious ethos                                                               19556 non-null  object
 11  Faith grouping                                                                21990 non-null  object
 12  Ofsted region                                                                 21990 non-null  object
 13  Region                                                                        21990 non-null  object
 14  Local authority                                                               21990 non-null  object
 15  Parliamentary constituency                                                    21990 non-null  object
 16  Multi-academy trust UID                                                       10679 non-null  float64
 17  Multi-academy trust name                                                      10679 non-null  object
 18  Academy sponsor UID                                                           8900 non-null   float64
 19  Academy sponsor name                                                          8900 non-null   object
 20  Postcode                                                                      21990 non-null  object
 21  The income deprivation affecting children index (IDACI) quintile              21900 non-null  float64
 22  Total number of pupils                                                        21987 non-null  float64
 23  Statutory lowest age                                                          21990 non-null  int64
 24  Statutory highest age                                                         21990 non-null  int64
 25  Latest ungraded inspection number since last graded inspection                9507 non-null   float64
 26  Does the ungraded inspection relate to the URN of the current school?         9507 non-null   object
 27  URN at time of the ungraded inspection                                        9507 non-null   float64
 28  LAESTAB at time of the ungraded inspection                                    9507 non-null   float64
 29  School name at time of the ungraded inspection                                9507 non-null   object
 30  School type at time of the ungraded inspection                                9507 non-null   object
 31  Number of ungraded inspections since the last graded inspection               9507 non-null   float64
 32  Date of latest ungraded inspection                                            9507 non-null   object
 33  Ungraded inspection publication date                                          9507 non-null   object
 34  Did the latest ungraded inspection convert to a graded inspection?            9507 non-null   object
 35  Ungraded inspection overall outcome                                           9406 non-null   object
 36  Number of monitoring and urgent inspections since last graded inspection      860 non-null    float64
 37  Inspection number of latest graded inspection                                 21882 non-null  object
 38  Inspection type                                                               21882 non-null  object
 39  Inspection type grouping                                                      21882 non-null  object
 40  Event type grouping                                                           21882 non-null  object
 41  Inspection start date                                                         21882 non-null  object
 42  Publication date                                                              21882 non-null  object
 43  Does the latest graded inspection relate to the URN of the current school?    21882 non-null  object
 44  URN at time of latest graded inspection                                       21882 non-null  float64
 45  LAESTAB at time of latest graded inspection                                   21882 non-null  float64
 46  School name at time of latest graded inspection                               21882 non-null  object
 47  School type at time of latest graded inspection                               21882 non-null  object
 48  Overall effectiveness                                                         21882 non-null  object
 49  Category of concern                                                           264 non-null    object
 50  Quality of education                                                          21882 non-null  float64
 51  Behaviour and attitudes                                                       21882 non-null  float64
 52  Personal development                                                          21882 non-null  float64
 53  Effectiveness of leadership and management                                    21882 non-null  float64
 54  Safeguarding is effective?                                                    21882 non-null  object
 55  Early years provision (where applicable)                                      21882 non-null  float64
 56  Sixth form provision (where applicable)                                       21882 non-null  float64
 57  Previous graded inspection number                                             21279 non-null  object
 58  Previous inspection start date                                                21279 non-null  object
 59  Previous publication date                                                     21279 non-null  object
 60  Does the previous graded inspection relate to the URN of the current school?  21279 non-null  object
 61  URN at time of previous graded inspection                                     21279 non-null  float64
 62  LAESTAB at time of previous graded inspection                                 21279 non-null  float64
 63  School name at time of previous graded inspection                             21279 non-null  object
 64  School type at time of previous graded inspection                             21279 non-null  object
 65  Previous graded inspection overall effectiveness                              21279 non-null  float64
 66  Previous category of concern                                                  1205 non-null   object
 67  Previous quality of education                                                 21279 non-null  float64
 68  Previous behaviour and attitudes                                              21279 non-null  float64
 69  Previous personal development                                                 21279 non-null  float64
 70  Previous effectiveness of leadership and management                           21279 non-null  float64
 71  Previous safeguarding is effective?                                           21279 non-null  object
 72  Previous early years provision (where applicable)                             21279 non-null  float64
 73  Previous sixth form provision (where applicable)                              21279 non-null  float64
dtypes: float64(26), int64(4), object(44)
memory usage: 12.4+ MB

In [16]:
# Display all column names in the schools inspection dataset
file1.columns

Index(['Web link (opens in new window)', 'URN', 'LAESTAB', 'School name',
       'Ofsted phase', 'Type of education', 'School open date',
       'Admissions policy', 'Sixth form', 'Designated religious character',
       'Religious ethos', 'Faith grouping', 'Ofsted region', 'Region',
       'Local authority', 'Parliamentary constituency',
       'Multi-academy trust UID', 'Multi-academy trust name',
       'Academy sponsor UID', 'Academy sponsor name', 'Postcode',
       'The income deprivation affecting children index (IDACI) quintile',
       'Total number of pupils', 'Statutory lowest age',
       'Statutory highest age',
       'Latest ungraded inspection number since last graded inspection',
       'Does the ungraded inspection relate to the URN of the current school?',
       'URN at time of the ungraded inspection',
       'LAESTAB at time of the ungraded inspection',
       'School name at time of the ungraded inspection',
       'School type at time of the ungraded inspection',
       'Number of ungraded inspections since the last graded inspection',
       'Date of latest ungraded inspection',
       'Ungraded inspection publication date',
       'Did the latest ungraded inspection convert to a graded inspection?',
       'Ungraded inspection overall outcome',
       'Number of monitoring and urgent inspections since last graded inspection',
       'Inspection number of latest graded inspection', 'Inspection type',
       'Inspection type grouping', 'Event type grouping',
       'Inspection start date', 'Publication date',
       'Does the latest graded inspection relate to the URN of the current school?',
       'URN at time of latest graded inspection',
       'LAESTAB at time of latest graded inspection',
       'School name at time of latest graded inspection',
       'School type at time of latest graded inspection',
       'Overall effectiveness', 'Category of concern', 'Quality of education',
       'Behaviour and attitudes', 'Personal development',
       'Effectiveness of leadership and management',
       'Safeguarding is effective?',
       'Early years provision (where applicable)',
       'Sixth form provision (where applicable)',
       'Previous graded inspection number', 'Previous inspection start date',
       'Previous publication date',
       'Does the previous graded inspection relate to the URN of the current school?',
       'URN at time of previous graded inspection',
       'LAESTAB at time of previous graded inspection',
       'School name at time of previous graded inspection',
       'School type at time of previous graded inspection',
       'Previous graded inspection overall effectiveness',
       'Previous category of concern', 'Previous quality of education',
       'Previous behaviour and attitudes', 'Previous personal development',
       'Previous effectiveness of leadership and management',
       'Previous safeguarding is effective?',
       'Previous early years provision (where applicable)',
       'Previous sixth form provision (where applicable)'],
      dtype='object')

In [17]:
# Filter the schools inspection dataset to include only selected regions
# This creates a new DataFrame with data for specific London boroughs and nearby areas
# Note: 'Kent' and 'Reading' were initially included but later excluded from the final analysis

places1 = ['Barking and Dagenham', 'Barnet','Bexley', 'Brent', 'Bromley', 'Camden', 'City of London','Croydon', 'Ealing', 
          'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 
          'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 
          'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 
          'Wandsworth', 'Westminster', 'Kent', 'Reading']
df_filtered1 = file1[file1['Local authority'].isin(places1)].copy()

# Preview the filtered data
df_filtered1.head()

,Web link (opens in new window),URN,LAESTAB,School name,Ofsted phase,Type of education,School open date,Admissions policy,Sixth form,Designated religious character,...,School type at time of previous graded inspection,Previous graded inspection overall effectiveness,Previous category of concern,Previous quality of education,Previous behaviour and attitudes,Previous personal development,Previous effectiveness of leadership and management,Previous safeguarding is effective?,Previous early years provision (where applicable),Previous sixth form provision (where applicable)
0,http://www.ofsted.gov.uk/inspection-reports/fi...,100000,2013614,The Aldgate School,Primary,Voluntary Aided School,NaN,Not applicable,Does not have a sixth form,Church of England,...,Voluntary Aided School,1.0,NaN,9.0,9.0,9.0,1.0,9,9.0,9.0
1,http://www.ofsted.gov.uk/inspection-reports/fi...,100005,2021048,Thomas Coram Centre,Nursery,LA Nursery School,NaN,Not applicable,Not applicable,Does not apply,...,LA Nursery School,1.0,NaN,9.0,9.0,9.0,1.0,9,1.0,9.0
2,http://www.ofsted.gov.uk/inspection-reports/fi...,100006,2021100,Heath School,PRU,Pupil Referral Unit,01/09/1999,Not applicable,Not applicable,Does not apply,...,Pupil Referral Unit,2.0,NaN,9.0,9.0,9.0,2.0,9,9.0,9.0
3,http://www.ofsted.gov.uk/inspection-reports/fi...,100007,2021101,Camden Primary Pupil Referral Unit,PRU,Pupil Referral Unit,NaN,Not applicable,Not applicable,Does not apply,...,Pupil Referral Unit,2.0,NaN,9.0,9.0,9.0,2.0,9,9.0,9.0
4,http://www.ofsted.gov.uk/inspection-reports/fi...,100008,2022019,Argyle Primary School,Primary,Community School,NaN,Not applicable,Does not have a sixth form,Does not apply,...,Community School,2.0,NaN,9.0,9.0,9.0,2.0,9,2.0,9.0

In [61]:
# Display the list of column names in df_filtered1 as a Python list.
df_filtered1.columns.tolist()

['Web link (opens in new window)',
 'URN',
 'LAESTAB',
 'School name',
 'Ofsted phase',
 'Type of education',
 'School open date',
 'Admissions policy',
 'Sixth form',
 'Designated religious character',
 'Religious ethos',
 'Faith grouping',
 'Ofsted region',
 'Region',
 'Local authority',
 'Parliamentary constituency',
 'Multi-academy trust UID',
 'Multi-academy trust name',
 'Academy sponsor UID',
 'Academy sponsor name',
 'Postcode',
 'The income deprivation affecting children index (IDACI) quintile',
 'Total number of pupils',
 'Statutory lowest age',
 'Statutory highest age',
 'Latest ungraded inspection number since last graded inspection',
 'Does the ungraded inspection relate to the URN of the current school?',
 'URN at time of the ungraded inspection',
 'LAESTAB at time of the ungraded inspection',
 'School name at time of the ungraded inspection',
 'School type at time of the ungraded inspection',
 'Number of ungraded inspections since the last graded inspection',
 'Date of latest ungraded inspection',
 'Ungraded inspection publication date',
 'Did the latest ungraded inspection convert to a graded inspection?',
 'Ungraded inspection overall outcome',
 'Number of monitoring and urgent inspections since last graded inspection',
 'Inspection number of latest graded inspection',
 'Inspection type',
 'Inspection type grouping',
 'Event type grouping',
 'Inspection start date',
 'Publication date',
 'Does the latest graded inspection relate to the URN of the current school?',
 'URN at time of latest graded inspection',
 'LAESTAB at time of latest graded inspection',
 'School name at time of latest graded inspection',
 'School type at time of latest graded inspection',
 'Overall effectiveness',
 'Category of concern',
 'Quality of education',
 'Behaviour and attitudes',
 'Personal development',
 'Effectiveness of leadership and management',
 'Safeguarding is effective?',
 'Early years provision (where applicable)',
 'Sixth form provision (where applicable)',
 'Previous graded inspection number',
 'Previous inspection start date',
 'Previous publication date',
 'Does the previous graded inspection relate to the URN of the current school?',
 'URN at time of previous graded inspection',
 'LAESTAB at time of previous graded inspection',
 'School name at time of previous graded inspection',
 'School type at time of previous graded inspection',
 'Previous graded inspection overall effectiveness',
 'Previous category of concern',
 'Previous quality of education',
 'Previous behaviour and attitudes',
 'Previous personal development',
 'Previous effectiveness of leadership and management',
 'Previous safeguarding is effective?',
 'Previous early years provision (where applicable)',
 'Previous sixth form provision (where applicable)']

In [19]:
# Select only the relevant columns from the schools inspection dataset
useful_cols1 = ['URN','School name','Ofsted phase','Type of education','Admissions policy','Sixth form','Region',
                'Local authority','Postcode','Total number of pupils','Inspection start date','Overall effectiveness',
                'Quality of education','Behaviour and attitudes','Personal development',
                'Effectiveness of leadership and management']

# Create a new DataFrame with only the selected columns
df_useful1 = df_filtered1[useful_cols1].copy()

# Preview the first few rows of the selected columns
df_useful1.head()

,URN,School name,Ofsted phase,Type of education,Admissions policy,Sixth form,Region,Local authority,Postcode,Total number of pupils,Inspection start date,Overall effectiveness,Quality of education,Behaviour and attitudes,Personal development,Effectiveness of leadership and management
0,100000,The Aldgate School,Primary,Voluntary Aided School,Not applicable,Does not have a sixth form,London,City of London,EC3A 5DE,249.0,12/06/2024,1,1.0,1.0,1.0,1.0
1,100005,Thomas Coram Centre,Nursery,LA Nursery School,Not applicable,Not applicable,London,Camden,WC1N 2NY,116.0,05/06/2014,1,9.0,9.0,9.0,1.0
2,100006,Heath School,PRU,Pupil Referral Unit,Not applicable,Not applicable,London,Camden,NW3 2NY,31.0,05/06/2024,2,2.0,1.0,1.0,1.0
3,100007,Camden Primary Pupil Referral Unit,PRU,Pupil Referral Unit,Not applicable,Not applicable,London,Camden,NW1 3EX,19.0,26/03/2015,2,9.0,9.0,9.0,2.0
4,100008,Argyle Primary School,Primary,Community School,Not applicable,Does not have a sixth form,London,Camden,WC1H 9EG,278.0,04/10/2022,2,2.0,2.0,1.0,2.0

In [62]:
# Convert the 'Inspection start date' column to datetime format.
# dayfirst=True ensures dates like 12/05/2016 are interpreted as 12 May, not December 5.
# errors='coerce' turns invalid or unrecognized dates into NaT (missing values).
df_useful1['Inspection start date'] = pd.to_datetime(df_useful1['Inspection start date'], dayfirst = True, errors = 'coerce').copy()

# Filter the dataset to include only inspections conducted on or after January 1, 2015.
# This creates a more recent subset of the data for modern analysis.
df_recent1 = df_useful1[df_useful1['Inspection start date'] >= '2015-01-01'].reset_index(drop=True)

# Display the first few rows of the filtered, cleaned dataset.
df_recent1.head()

,URN,School name,Ofsted phase,Type of education,Admissions policy,Sixth form,Region,Local authority,Postcode,Total number of pupils,Inspection start date,Overall effectiveness,Quality of education,Behaviour and attitudes,Personal development,Effectiveness of leadership and management
0,100000,The Aldgate School,Primary,Voluntary Aided School,Not applicable,Does not have a sixth form,London,City of London,EC3A 5DE,249.0,2024-06-12,1,1.0,1.0,1.0,1.0
1,100006,Heath School,PRU,Pupil Referral Unit,Not applicable,Not applicable,London,Camden,NW3 2NY,31.0,2024-06-05,2,2.0,1.0,1.0,1.0
2,100007,Camden Primary Pupil Referral Unit,PRU,Pupil Referral Unit,Not applicable,Not applicable,London,Camden,NW1 3EX,19.0,2015-03-26,2,9.0,9.0,9.0,2.0
3,100008,Argyle Primary School,Primary,Community School,Not applicable,Does not have a sixth form,London,Camden,WC1H 9EG,278.0,2022-10-04,2,2.0,2.0,1.0,2.0
4,100010,Brecknock Primary School,Primary,Community School,Not applicable,Does not have a sixth form,London,Camden,NW1 9AL,288.0,2023-03-07,2,2.0,2.0,2.0,2.0

In [63]:
# Sort the dataset by the 'Local authority' column in alphabetical order.
# Resetting the index ensures the new sorted DataFrame has a clean, continuous index.
df_sorted = df_recent1.sort_values(by = 'Local authority').reset_index(drop = True)

# Display the first few rows of the sorted dataset.
df_sorted.copy().head()

,URN,School name,Ofsted phase,Type of education,Admissions policy,Sixth form,Region,Local authority,Postcode,Total number of pupils,Inspection start date,Overall effectiveness,Quality of education,Behaviour and attitudes,Personal development,Effectiveness of leadership and management
0,101188,Dorothy Barley Infants' School,Primary,Community School,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM8 2LL,240.0,2016-07-06,2,9.0,9.0,9.0,2.0
1,147328,St Joseph's Catholic Primary School,Primary,Academy Converter,Not applicable,Does not have a sixth form,London,Barking and Dagenham,IG11 7AR,237.0,2016-09-13,2,9.0,9.0,9.0,2.0
2,147189,Pathways School,Special,Free School Special,Non-selective,Does not have a sixth form,London,Barking and Dagenham,RM10 9NH,73.0,2024-02-20,2,2.0,1.0,1.0,2.0
3,144280,The James Cambell Primary School,Primary,Academy Sponsor Led,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM9 6TD,627.0,2024-05-14,2,2.0,2.0,2.0,2.0
4,142908,Greatfields School,Secondary,Free School,Non-selective,Has a sixth form,London,Barking and Dagenham,IG11 7QG,1224.0,2019-06-04,2,9.0,9.0,9.0,1.0

In [64]:
# Compute the average score across four inspection categories and store it as 'Quality mean'.
df_sorted['Quality mean'] = df_sorted[['Quality of education','Behaviour and attitudes',
'Personal development','Effectiveness of leadership and management']].mean(axis = 1)

# Replace 'Not judged' overall ratings with the calculated 'Quality mean' to create a unified score.
df_sorted['Overall effectiveness_final'] = df_sorted.apply(lambda x: x['Quality mean'] if 
x['Overall effectiveness']=='Not judged' else x['Overall effectiveness'],axis=1)

# Preview the updated dataset.
df_sorted.head()

,URN,School name,Ofsted phase,Type of education,Admissions policy,Sixth form,Region,Local authority,Postcode,Total number of pupils,Inspection start date,Overall effectiveness,Quality of education,Behaviour and attitudes,Personal development,Effectiveness of leadership and management,Quality mean,Overall effectiveness_final
0,101188,Dorothy Barley Infants' School,Primary,Community School,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM8 2LL,240.0,2016-07-06,2,9.0,9.0,9.0,2.0,7.25,2
1,147328,St Joseph's Catholic Primary School,Primary,Academy Converter,Not applicable,Does not have a sixth form,London,Barking and Dagenham,IG11 7AR,237.0,2016-09-13,2,9.0,9.0,9.0,2.0,7.25,2
2,147189,Pathways School,Special,Free School Special,Non-selective,Does not have a sixth form,London,Barking and Dagenham,RM10 9NH,73.0,2024-02-20,2,2.0,1.0,1.0,2.0,1.50,2
3,144280,The James Cambell Primary School,Primary,Academy Sponsor Led,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM9 6TD,627.0,2024-05-14,2,2.0,2.0,2.0,2.0,2.00,2
4,142908,Greatfields School,Secondary,Free School,Non-selective,Has a sixth form,London,Barking and Dagenham,IG11 7QG,1224.0,2019-06-04,2,9.0,9.0,9.0,1.0,7.00,2

In [65]:
# Convert the final overall effectiveness scores to numeric values, coercing invalid entries to NaN.
df_sorted['Overall effectiveness_final'] = pd.to_numeric(df_sorted['Overall effectiveness_final'], errors = 'coerce')

# Round the scores to the nearest whole number and cast them to an integer type.
df_sorted['Overall effectiveness_final'] = df_sorted['Overall effectiveness_final'].round().astype('Int64')

# Preview the updated dataset.
df_sorted.head()

,URN,School name,Ofsted phase,Type of education,Admissions policy,Sixth form,Region,Local authority,Postcode,Total number of pupils,Inspection start date,Overall effectiveness,Quality of education,Behaviour and attitudes,Personal development,Effectiveness of leadership and management,Quality mean,Overall effectiveness_final
0,101188,Dorothy Barley Infants' School,Primary,Community School,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM8 2LL,240.0,2016-07-06,2,9.0,9.0,9.0,2.0,7.25,2
1,147328,St Joseph's Catholic Primary School,Primary,Academy Converter,Not applicable,Does not have a sixth form,London,Barking and Dagenham,IG11 7AR,237.0,2016-09-13,2,9.0,9.0,9.0,2.0,7.25,2
2,147189,Pathways School,Special,Free School Special,Non-selective,Does not have a sixth form,London,Barking and Dagenham,RM10 9NH,73.0,2024-02-20,2,2.0,1.0,1.0,2.0,1.50,2
3,144280,The James Cambell Primary School,Primary,Academy Sponsor Led,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM9 6TD,627.0,2024-05-14,2,2.0,2.0,2.0,2.0,2.00,2
4,142908,Greatfields School,Secondary,Free School,Non-selective,Has a sixth form,London,Barking and Dagenham,IG11 7QG,1224.0,2019-06-04,2,9.0,9.0,9.0,1.0,7.00,2

In [66]:
# Display all column names in the df_sorted DataFrame.
df_sorted.columns

Index(['URN', 'School name', 'Ofsted phase', 'Type of education', 'Admissions policy', 'Sixth form', 'Region', 'Local authority', 'Postcode', 'Total number of pupils', 'Inspection start date',
       'Overall effectiveness', 'Quality of education', 'Behaviour and attitudes', 'Personal development', 'Effectiveness of leadership and management', 'Quality mean',
       'Overall effectiveness_final'],
      dtype='object')

In [25]:
# Export the cleaned dataset to a CSV file without the index.
df_sorted.to_csv('UK_State_funded_schools_2025_cleaned.csv', index=False)

In [67]:
# Display the path to the current user's home directory.
import os
os.path.expanduser("~")

'C:\\Users\\vjayk'

In [68]:
# Load postcode lookup data and the cleaned schools dataset.
nspl = pd.read_csv('C:/Users/vjayk/Downloads/National_Statistics_Postcode_Lookup_UK.csv' , low_memory = False)
schools = pd.read_csv('C:/Users/vjayk/Documents/UK_State_funded_schools_2025_cleaned.csv', low_memory = False)

# Standardise postcode formats (remove spaces and convert to uppercase).
nspl['Postcode_clean'] = nspl['Postcode 3'].str.replace(" ","").str.upper()
schools['Postcode_clean'] = schools['Postcode'].str.replace(" ","").str.upper()

# Create a postcode-to-local-authority lookup table.
lookup = nspl[['Postcode_clean', 'Local Authority Code']].drop_duplicates()
lookup = lookup.rename(columns = {'Local Authority Code': 'AreaCode'})

# Merge local authority area codes into the schools dataset.
schools = schools.merge(lookup, on='Postcode_clean', how='left')

# Preview the merged dataset.
schools.head()

,URN,School name,Ofsted phase,Type of education,Admissions policy,Sixth form,Region,Local authority,Postcode,Total number of pupils,Inspection start date,Overall effectiveness,Quality of education,Behaviour and attitudes,Personal development,Effectiveness of leadership and management,Quality mean,Overall effectiveness_final,Postcode_clean,AreaCode
0,101188,Dorothy Barley Infants' School,Primary,Community School,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM8 2LL,240.0,2016-07-06,2,9.0,9.0,9.0,2.0,7.25,2,RM82LL,E09000002
1,147328,St Joseph's Catholic Primary School,Primary,Academy Converter,Not applicable,Does not have a sixth form,London,Barking and Dagenham,IG11 7AR,237.0,2016-09-13,2,9.0,9.0,9.0,2.0,7.25,2,IG117AR,E09000002
2,147189,Pathways School,Special,Free School Special,Non-selective,Does not have a sixth form,London,Barking and Dagenham,RM10 9NH,73.0,2024-02-20,2,2.0,1.0,1.0,2.0,1.50,2,RM109NH,E09000002
3,144280,The James Cambell Primary School,Primary,Academy Sponsor Led,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM9 6TD,627.0,2024-05-14,2,2.0,2.0,2.0,2.0,2.00,2,RM96TD,E09000002
4,142908,Greatfields School,Secondary,Free School,Non-selective,Has a sixth form,London,Barking and Dagenham,IG11 7QG,1224.0,2019-06-04,2,9.0,9.0,9.0,1.0,7.00,2,IG117QG,E09000002

In [69]:
# Export the schools dataset, now enriched with local authority area codes, to a CSV file.
schools.to_csv('Schools_with_areacode.csv' , index=False)

In [70]:
# Load the UK House Price Index (HPI) dataset.
hpi = pd.read_csv('C:/Users/vjayk/Documents/UK_HPI_2025_cleaned.csv', low_memory = False)

# Convert 'Date' to datetime format and extract the year.
hpi['Date'] = pd.to_datetime(hpi['Date'])
hpi['Year'] = hpi['Date'].dt.year

# Aggregate HPI data to yearly averages by Year, RegionName, and AreaCode.
hpi_yearly = hpi.groupby(['Year', 'RegionName','AreaCode'],as_index = False).mean(numeric_only = True).round(0)

# Convert numeric columns to integer type for cleaner presentation.
num_cols = hpi_yearly.select_dtypes(include = 'number').columns
hpi_yearly[num_cols] = hpi_yearly[num_cols].astype('Int64')

# Preview the yearly aggregated dataset.
hpi_yearly.head()

# Export the yearly HPI dataset to a CSV file.
hpi_yearly.to_csv('HPI_yearly.csv', index = False)

In [71]:
# Load the yearly HPI dataset.
df1 = pd.read_csv('HPI_yearly.csv')

# Sort the dataset by RegionName, Year, and AreaCode for consistent ordering.
df1.sort_values(by=['RegionName','Year','AreaCode'],ascending = [True,True,True], inplace=True)

# Reset the index after sorting.
df1.reset_index(drop=True, inplace=True)

# Preview the sorted dataset.
df1.head()

   Year            RegionName   AreaCode  AveragePrice  Index  SalesVolume  DetachedPrice  SemiDetachedPrice  TerracedPrice  FlatPrice  12m%Change
0  2015  Barking and Dagenham  E09000002        239981     68          200       409687.0           300825.0       253609.0     178371          16
1  2016  Barking and Dagenham  E09000002        281570     80          184       486136.0           354664.0       297163.0     209476          17
2  2017  Barking and Dagenham  E09000002        295771     84          172       514728.0           371506.0       309727.0     223762           5
3  2018  Barking and Dagenham  E09000002        303430     86          161       531656.0           383047.0       319446.0     226262           3
4  2019  Barking and Dagenham  E09000002        306536     87          140       539711.0           390466.0       324778.0     224861           1

In [31]:
# Export the sorted and cleaned yearly HPI dataset to a CSV file.
df1.to_csv("HPI_final.csv", index = False)

In [72]:
# Load the final HPI dataset and the schools dataset with area codes.
hpi = pd.read_csv('HPI_final.csv')
school = pd.read_csv('Schools_with_areacode.csv')

# Preview the HPI dataset.
hpi.head()

   Year            RegionName   AreaCode  AveragePrice  Index  SalesVolume  DetachedPrice  SemiDetachedPrice  TerracedPrice  FlatPrice  12m%Change
0  2015  Barking and Dagenham  E09000002        239981     68          200       409687.0           300825.0       253609.0     178371          16
1  2016  Barking and Dagenham  E09000002        281570     80          184       486136.0           354664.0       297163.0     209476          17
2  2017  Barking and Dagenham  E09000002        295771     84          172       514728.0           371506.0       309727.0     223762           5
3  2018  Barking and Dagenham  E09000002        303430     86          161       531656.0           383047.0       319446.0     226262           3
4  2019  Barking and Dagenham  E09000002        306536     87          140       539711.0           390466.0       324778.0     224861           1

In [73]:
# Preview the first few rows of the schools dataset.
school.head()

,URN,School name,Ofsted phase,Type of education,Admissions policy,Sixth form,Region,Local authority,Postcode,Total number of pupils,Inspection start date,Overall effectiveness,Quality of education,Behaviour and attitudes,Personal development,Effectiveness of leadership and management,Quality mean,Overall effectiveness_final,Postcode_clean,AreaCode
0,101188,Dorothy Barley Infants' School,Primary,Community School,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM8 2LL,240.0,2016-07-06,2,9.0,9.0,9.0,2.0,7.25,2,RM82LL,E09000002
1,147328,St Joseph's Catholic Primary School,Primary,Academy Converter,Not applicable,Does not have a sixth form,London,Barking and Dagenham,IG11 7AR,237.0,2016-09-13,2,9.0,9.0,9.0,2.0,7.25,2,IG117AR,E09000002
2,147189,Pathways School,Special,Free School Special,Non-selective,Does not have a sixth form,London,Barking and Dagenham,RM10 9NH,73.0,2024-02-20,2,2.0,1.0,1.0,2.0,1.50,2,RM109NH,E09000002
3,144280,The James Cambell Primary School,Primary,Academy Sponsor Led,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM9 6TD,627.0,2024-05-14,2,2.0,2.0,2.0,2.0,2.00,2,RM96TD,E09000002
4,142908,Greatfields School,Secondary,Free School,Non-selective,Has a sixth form,London,Barking and Dagenham,IG11 7QG,1224.0,2019-06-04,2,9.0,9.0,9.0,1.0,7.00,2,IG117QG,E09000002

In [34]:
# Add a count column to represent each school as 1.
school['Count'] = 1

# Pivot the schools dataset to get the number of schools by 'Ofsted phase' for each local authority.
# - Rows: one per Local authority / AreaCode
# - Columns: Ofsted phases
# - Values: count of schools in each phase
# - Missing values filled with 0
school_wide = school.pivot_table(
    index=['Local authority','AreaCode'],    # one row per area
    columns='Ofsted phase',             # phase names become column headers
    values='Count',                     # the numeric counts
    fill_value=0                        # fill missing values with 0
).reset_index()

In [74]:
# Preview the first few rows of the pivoted schools dataset.
school_wide.head()

Ofsted phase       Local authority   AreaCode  Nursery  PRU  Primary  Secondary  Special
0             Barking and Dagenham  E09000002      0.0  1.0      1.0        1.0      1.0
1                           Barnet  E09000003      0.0  1.0      1.0        1.0      1.0
2                           Barnet  E09000005      0.0  0.0      1.0        1.0      0.0
3                           Barnet  E09000010      0.0  0.0      1.0        0.0      0.0
4                           Bexley  E09000004      0.0  0.0      1.0        1.0      1.0

In [75]:
# Load the final HPI dataset.
hpi = pd.read_csv('HPI_final.csv')

# Filter the dataset for the year 2025 and reset the index.
hpi_2025 = hpi[hpi['Year'] ==2025].copy().reset_index(drop=True)

# Preview the 2025 HPI data.
hpi_2025.head()

   Year            RegionName   AreaCode  AveragePrice  Index  SalesVolume  DetachedPrice  SemiDetachedPrice  TerracedPrice  FlatPrice  12m%Change
0  2025  Barking and Dagenham  E09000002        362057    103           88       637084.0           469094.0       390728.0     250080           7
1  2025                Barnet  E09000003        591623     93          231      1545394.0           817481.0       613238.0     377483          -3
2  2025                Bexley  E09000004        404631     97          202       720953.0           516752.0       404607.0     247181           2
3  2025                 Brent  E09000005        558017     99          131      1327669.0           825830.0       697107.0     396761           1
4  2025               Bromley  E09000006        524455    100          305      1084482.0           658716.0       489882.0     318861           7

In [76]:
# Export the 2025 HPI data to a CSV file.
hpi_2025.to_csv("hpi_2025.csv", index = False)

In [77]:
# Load the schools dataset with area codes.
schools =pd.read_csv("Schools_with_areacode.csv")

# Combine 'Special' and 'PRU' phases into a single category for analysis.
schools['Ofsted phase'] = schools['Ofsted phase'].replace({
    "Special" : "Special_and_PRU",
    "PRU" : "Special_and_PRU"
})

# Preview the updated dataset.
schools.head()

,URN,School name,Ofsted phase,Type of education,Admissions policy,Sixth form,Region,Local authority,Postcode,Total number of pupils,Inspection start date,Overall effectiveness,Quality of education,Behaviour and attitudes,Personal development,Effectiveness of leadership and management,Quality mean,Overall effectiveness_final,Postcode_clean,AreaCode
0,101188,Dorothy Barley Infants' School,Primary,Community School,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM8 2LL,240.0,2016-07-06,2,9.0,9.0,9.0,2.0,7.25,2,RM82LL,E09000002
1,147328,St Joseph's Catholic Primary School,Primary,Academy Converter,Not applicable,Does not have a sixth form,London,Barking and Dagenham,IG11 7AR,237.0,2016-09-13,2,9.0,9.0,9.0,2.0,7.25,2,IG117AR,E09000002
2,147189,Pathways School,Special_and_PRU,Free School Special,Non-selective,Does not have a sixth form,London,Barking and Dagenham,RM10 9NH,73.0,2024-02-20,2,2.0,1.0,1.0,2.0,1.50,2,RM109NH,E09000002
3,144280,The James Cambell Primary School,Primary,Academy Sponsor Led,Not applicable,Does not have a sixth form,London,Barking and Dagenham,RM9 6TD,627.0,2024-05-14,2,2.0,2.0,2.0,2.0,2.00,2,RM96TD,E09000002
4,142908,Greatfields School,Secondary,Free School,Non-selective,Has a sixth form,London,Barking and Dagenham,IG11 7QG,1224.0,2019-06-04,2,9.0,9.0,9.0,1.0,7.00,2,IG117QG,E09000002

In [78]:
# Remove schools with 'Nursery' in their Ofsted phase (case-insensitive).
schools = schools[~schools['Ofsted phase'].str.contains('Nursery', case=False , na = False)]

# Display the unique Ofsted phases after filtering.
schools['Ofsted phase'].unique()

# Verify that no 'Nursery' entries remain in the dataset.
schools['Ofsted phase'].str.contains('Nursery',case = False, na = False).any()

False

In [79]:
# Correct the AreaCode for schools in the 'Barnet' local authority.
schools.loc[schools['Local authority'].str.strip().eq('Barnet'),'AreaCode'] = 'E09000003'

In [80]:
# Display unique combinations of AreaCode and Local authority.
schools[['AreaCode','Local authority']].drop_duplicates()

       AreaCode         Local authority
0     E09000002    Barking and Dagenham
43    E09000003                  Barnet
148   E09000004                  Bexley
216   E09000005                   Brent
288   E09000006                 Bromley
366         NaN                 Bromley
374   E09000007                  Camden
415   E09000019                  Camden
416   E09000001          City of London
417   E09000008                 Croydon
523   E09000009                  Ealing
595   E09000010                 Enfield
674   E09000011               Greenwich
733   E09000012                 Hackney
799   E09000013  Hammersmith and Fulham
846   E09000014                Haringey
911   E09000015                  Harrow
964   E09000016                Havering
1027  E09000017              Hillingdon
1109  E09000018                Hounslow
1173  E09000019               Islington
1219  E09000020  Kensington and Chelsea
1252  E07000111                    Kent
1253  E07000112                    Kent
1254  E07000106                    Kent
1255  E07000110                    Kent
1256  E07000107                    Kent
1258  E07000115                    Kent
1260  E07000114                    Kent
1261  E07000113                    Kent
1262  E07000105                    Kent
1269  E07000109                    Kent
1278  E07000116                    Kent
1280  E07000108                    Kent
1736  E09000021    Kingston upon Thames
1767  E09000029    Kingston upon Thames
1773  E09000022                 Lambeth
1784  E09000028                 Lambeth
1830        NaN                 Lambeth
1850  E09000023                Lewisham
1919  E09000024                  Merton
1962  E09000025                  Newham
2045  E06000038                 Reading
2090  E09000026               Redbridge
2146  E09000031               Redbridge
2156  E09000027    Richmond upon Thames
2203  E09000028               Southwark
2288  E09000029                  Sutton
2338  E09000030           Tower Hamlets
2408  E09000031          Waltham Forest
2455  E09000026          Waltham Forest
2459        NaN          Waltham Forest
2467  E09000032              Wandsworth
2531        NaN              Wandsworth
2534  E09000033             Westminster

In [81]:
# Correct the AreaCode for specific local authorities to ensure accurate mapping.
schools.loc[schools['Local authority'] == 'Bromley', 'AreaCode'] = 'E09000006'
schools.loc[schools['Local authority'] == 'Lambeth', 'AreaCode'] = 'E09000022'
schools.loc[schools['Local authority'] == 'Waltham Forest', 'AreaCode'] = 'E09000031'
schools.loc[schools['Local authority'] == 'Wandsworth', 'AreaCode'] = 'E09000032'

In [82]:
# Display the unique AreaCode and Local authority pairs after corrections.
schools[['AreaCode','Local authority']].drop_duplicates()

       AreaCode         Local authority
0     E09000002    Barking and Dagenham
43    E09000003                  Barnet
148   E09000004                  Bexley
216   E09000005                   Brent
288   E09000006                 Bromley
374   E09000007                  Camden
415   E09000019                  Camden
416   E09000001          City of London
417   E09000008                 Croydon
523   E09000009                  Ealing
595   E09000010                 Enfield
674   E09000011               Greenwich
733   E09000012                 Hackney
799   E09000013  Hammersmith and Fulham
846   E09000014                Haringey
911   E09000015                  Harrow
964   E09000016                Havering
1027  E09000017              Hillingdon
1109  E09000018                Hounslow
1173  E09000019               Islington
1219  E09000020  Kensington and Chelsea
1252  E07000111                    Kent
1253  E07000112                    Kent
1254  E07000106                    Kent
1255  E07000110                    Kent
1256  E07000107                    Kent
1258  E07000115                    Kent
1260  E07000114                    Kent
1261  E07000113                    Kent
1262  E07000105                    Kent
1269  E07000109                    Kent
1278  E07000116                    Kent
1280  E07000108                    Kent
1736  E09000021    Kingston upon Thames
1767  E09000029    Kingston upon Thames
1773  E09000022                 Lambeth
1850  E09000023                Lewisham
1919  E09000024                  Merton
1962  E09000025                  Newham
2045  E06000038                 Reading
2090  E09000026               Redbridge
2146  E09000031               Redbridge
2156  E09000027    Richmond upon Thames
2203  E09000028               Southwark
2288  E09000029                  Sutton
2338  E09000030           Tower Hamlets
2408  E09000031          Waltham Forest
2467  E09000032              Wandsworth
2534  E09000033             Westminster

In [83]:
# Display the list of all column names in the schools dataset.
print(schools.columns.tolist())

['URN', 'School name', 'Ofsted phase', 'Type of education', 'Admissions policy', 'Sixth form', 'Region', 'Local authority', 'Postcode', 'Total number of pupils', 'Inspection start date', 'Overall effectiveness', 'Quality of education', 'Behaviour and attitudes', 'Personal development', 'Effectiveness of leadership and management', 'Quality mean', 'Overall effectiveness_final', 'Postcode_clean', 'AreaCode']

In [89]:
import pandas as pd
import itertools

# Define Ofsted phases and possible ratings.
phases = ['Primary', 'Secondary', 'Special_and_PRU']
ratings = [1, 2, 3, 4]

# Clean up column names by stripping extra spaces.
schools.columns = schools.columns.str.strip()

# Get a unique list of regions and local authorities.
la_list = schools[['Region', 'Local authority']].drop_duplicates()

# Generate all possible combinations of Region, Local authority, phase, and rating.
all_combinations = pd.DataFrame(
    list(itertools.product(
        la_list['Region'],
        la_list['Local authority'],
        phases,
        ratings
    )),
    columns=['Region', 'Local authority', 'phase', 'rating']
)

# Count the number of schools by Region, Local authority, Ofsted phase, rating, and AreaCode.
counts = (
    schools
    .groupby(['Region', 'Local authority', 'Ofsted phase', 'Overall effectiveness_final', 'AreaCode'])['URN']
    .count()
    .reset_index()
    .rename(columns={'Overall effectiveness_final': 'rating', 'URN': 'Number of schools'})
)

# Merge the counts with all possible combinations to ensure every rating-phase pair is represented.
merged = all_combinations.merge(
    counts,
    left_on=['Region', 'Local authority', 'phase', 'rating'],
    right_on=['Region', 'Local authority', 'Ofsted phase', 'rating'],
    how='inner'
).fillna(0)

# Drop the duplicate 'Ofsted phase' column created during the merge.
merged = merged.drop(columns=['Ofsted phase'])

# Pivot the merged dataset to get the number of schools by rating for each Region, Local authority, AreaCode, and phase.
pivot = merged.pivot_table(
    index=['Region', 'Local authority', 'AreaCode', 'phase'],
    columns='rating',
    values='Number of schools',
    fill_value=0
).reset_index()

# Calculate the total number of schools per group.
pivot['Total schools'] = pivot[ratings].sum(axis=1)

# Rename rating columns for better readability.
pivot = pivot.rename(columns={
    1: 'Outstanding',
    2: 'Good',
    3: 'Requires Improvement',
    4: 'Inadequate',
    'phase': 'Ofsted phase'
})

# Reorder columns for the final dataset.
final_cols = [
    'Region', 'Local authority', 'AreaCode', 'Ofsted phase',
    'Total schools', 'Outstanding', 'Good', 'Requires Improvement', 'Inadequate'
]

final = pivot[final_cols]

# Reorder the final dataset by Region, Local authority, AreaCode, and Ofsted phase.
final = final.sort_values(['Region', 'Local authority', 'AreaCode', 'Ofsted phase']).reset_index(drop=True)

# Ensure all numeric columns are of integer type for clarity.
final = final.astype({
    'Total schools': 'Int64',
    'Outstanding': 'Int64',
    'Good': 'Int64',
    'Requires Improvement': 'Int64',
    'Inadequate': 'Int64'
})

# Configure pandas display options to show all rows and columns for inspection.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)

# Display the fully prepared final dataset.
print(final)

# Export the fully prepared final schools dataset to a CSV file.
final.to_csv('final_schools.csv', index=False)

rating      Region         Local authority   AreaCode     Ofsted phase  Total schools  Outstanding  Good  Requires Improvement  Inadequate
0           London    Barking and Dagenham  E09000002          Primary             27            3    23                     1           0
1           London    Barking and Dagenham  E09000002        Secondary             13            6     7                     0           0
2           London    Barking and Dagenham  E09000002  Special_and_PRU              3            0     3                     0           0
3           London                  Barnet  E09000003          Primary             75           15    55                     5           0
4           London                  Barnet  E09000003        Secondary             25            6    19                     0           0
5           London                  Barnet  E09000003  Special_and_PRU              5            2     3                     0           0
6           London                  Bexley  E09000004          Primary             48           10    35                     3           0
7           London                  Bexley  E09000004        Secondary             14            2     9                     2           1
8           London                  Bexley  E09000004  Special_and_PRU              5            0     5                     0           0
9           London                   Brent  E09000005          Primary             50            8    40                     1           1
10          London                   Brent  E09000005        Secondary             12            6     6                     0           0
11          London                   Brent  E09000005  Special_and_PRU              8            4     3                     1           0
12          London                 Bromley  E09000006          Primary             65           24    40                     1           0
13          London                 Bromley  E09000006        Secondary             18            5    11                     2           0
14          London                 Bromley  E09000006  Special_and_PRU              3            1     2                     0           0
15          London                  Camden  E09000007          Primary             30           17    13                     0           0
16          London                  Camden  E09000007        Secondary              8            1     7                     0           0
17          London                  Camden  E09000007  Special_and_PRU              3            1     2                     0           0
18          London                  Camden  E09000019  Special_and_PRU              1            0     1                     0           0
19          London          City of London  E09000001          Primary              1            1     0                     0           0
20          London                 Croydon  E09000008          Primary             71           18    48                     5           0
21          London                 Croydon  E09000008        Secondary             21            4    14                     3           0
22          London                 Croydon  E09000008  Special_and_PRU             10            4     5                     1           0
23          London                  Ealing  E09000009          Primary             50           14    34                     2           0
24          London                  Ealing  E09000009        Secondary             16           10     6                     0           0
25          London                  Ealing  E09000009  Special_and_PRU              4            2     2                     0           0
26          London                 Enfield  E09000010          Primary             58            9    49                     0           0
27          London                 Enfield  E09000010        Secondary             17            3    14                     0           0
28          London                 Enfield  E09000010  Special_and_PRU              4            1     3                     0           0
29          London               Greenwich  E09000011          Primary             38           12    26                     0           0
30          London               Greenwich  E09000011        Secondary             16            3    10                     3           0
31          London               Greenwich  E09000011  Special_and_PRU              4            2     2                     0           0
32          London                 Hackney  E09000012          Primary             47           20    27                     0           0
33          London                 Hackney  E09000012        Secondary             14            4    10                     0           0
34          London                 Hackney  E09000012  Special_and_PRU              4            2     2                     0           0
35          London  Hammersmith and Fulham  E09000013          Primary             31           13    18                     0           0
36          London  Hammersmith and Fulham  E09000013        Secondary             11            5     6                     0           0
37          London  Hammersmith and Fulham  E09000013  Special_and_PRU              5            2     3                     0           0
38          London                Haringey  E09000014          Primary             47           18    27                     2           0
39          London                Haringey  E09000014        Secondary             10            4     6                     0           0
40          London                Haringey  E09000014  Special_and_PRU              5            4     1                     0           0
41          London                  Harrow  E09000015          Primary             38            9    27                     2           0
42          London                  Harrow  E09000015        Secondary             11            6     5                     0           0
43          London                  Harrow  E09000015  Special_and_PRU              4            3     1                     0           0
44          London                Havering  E09000016          Primary             44           10    33                     1           0
45          London                Havering  E09000016        Secondary             15            4    11                     0           0
46          London                Havering  E09000016  Special_and_PRU              4            0     4                     0           0
47          London              Hillingdon  E09000017          Primary             52            8    42                     2           0
48          London              Hillingdon  E09000017        Secondary             21            4    16                     1           0
49          London              Hillingdon  E09000017  Special_and_PRU              8            3     5                     0           0
50          London                Hounslow  E09000018          Primary             39            7    30                     2           0
51          London                Hounslow  E09000018        Secondary             20            7    13                     0           0
52          London                Hounslow  E09000018  Special_and_PRU              5            1     4                     0           0
53          London               Islington  E09000019          Primary             30            8    20                     1           1
54          London               Islington  E09000019        Secondary             10            5     5                     0           0
55          London               Islington  E09000019  Special_and_PRU              6            3     3                     0           0
56          London  Kensington and Chelsea  E09000020          Primary             23           11    11                     1           0
57          London  Kensington and Chelsea  E09000020        Secondary              6            3     2                     0           1
58          London  Kensington and Chelsea  E09000020  Special_and_PRU              2            0     2                     0           0
59          London    Kingston upon Thames  E09000021          Primary             24            9    15                     0           0
60          London    Kingston upon Thames  E09000021        Secondary             10            4     6                     0           0
61          London    Kingston upon Thames  E09000021  Special_and_PRU              2            0     2                     0           0
62          London    Kingston upon Thames  E09000029          Primary              1            0     1                     0           0
63          London                 Lambeth  E09000022          Primary             52           15    33                     4           0
64          London                 Lambeth  E09000022        Secondary             16            4    11                     1           0
65          London                 Lambeth  E09000022  Special_and_PRU              5            1     2                     1           1
66          London                Lewisham  E09000023          Primary             51            9    41                     1           0
67          London                Lewisham  E09000023        Secondary             13            3     9                     1           0
68          London                Lewisham  E09000023  Special_and_PRU              4            1     3                     0           0
69          London                  Merton  E09000024          Primary             34           10    24                     0           0
70          London                  Merton  E09000024        Secondary              8            6     2                     0           0
71          London                  Merton  E09000024  Special_and_PRU              1            0     1                     0           0
72          London                  Newham  E09000025          Primary             57           28    29                     0           0
73          London                  Newham  E09000025        Secondary             19            6    13                     0           0
74          London                  Newham  E09000025  Special_and_PRU              4            1     3                     0           0
75          London               Redbridge  E09000026          Primary             44           12    32                     0           0
76          London               Redbridge  E09000026        Secondary             16            5    10                     1           0
77          London               Redbridge  E09000026  Special_and_PRU              5            1     2                     2           0
78          London               Redbridge  E09000031        Secondary              1            0     1                     0           0
79          London    Richmond upon Thames  E09000027          Primary             35           16    19                     0           0
80          London    Richmond upon Thames  E09000027        Secondary             11            5     6                     0           0
81          London    Richmond upon Thames  E09000027  Special_and_PRU              1            0     1                     0           0
82          London               Southwark  E09000028          Primary             57           17    38                     2           0
83          London               Southwark  E09000028        Secondary             19            9     9                     1           0
84          London               Southwark  E09000028  Special_and_PRU              7            2     5                     0           0
85          London                  Sutton  E09000029          Primary             32           12    19                     1           0
86          London                  Sutton  E09000029        Secondary             13            5     8                     0           0
87          London                  Sutton  E09000029  Special_and_PRU              4            2     2                     0           0
88          London           Tower Hamlets  E09000030          Primary             53           21    30                     2           0
89          London           Tower Hamlets  E09000030        Secondary             14            3    10                     1           0
90          London           Tower Hamlets  E09000030  Special_and_PRU              2            1     1                     0           0
91          London          Waltham Forest  E09000031          Primary             38           14    22                     2           0
92          London          Waltham Forest  E09000031        Secondary             14            2    11                     1           0
93          London          Waltham Forest  E09000031  Special_and_PRU              5            1     4                     0           0
94          London              Wandsworth  E09000032          Primary             53           12    39                     2           0
95          London              Wandsworth  E09000032        Secondary              8            4     4                     0           0
96          London              Wandsworth  E09000032  Special_and_PRU              5            0     5                     0           0
97          London             Westminster  E09000033          Primary             27            8    19                     0           0
98          London             Westminster  E09000033        Secondary             10            5     5                     0           0
99          London             Westminster  E09000033  Special_and_PRU              2            0     2                     0           0
100     South East                    Kent  E07000105          Primary             29            3    25                     1           0
101     South East                    Kent  E07000105        Secondary              7            1     6                     0           0
102     South East                    Kent  E07000105  Special_and_PRU              3            1     2                     0           0
103     South East                    Kent  E07000106          Primary             28            9    19                     0           0
104     South East                    Kent  E07000106        Secondary              9            1     7                     1           0
105     South East                    Kent  E07000106  Special_and_PRU              1            0     1                     0           0
106     South East                    Kent  E07000107          Primary             22            2    17                     3           0
107     South East                    Kent  E07000107        Secondary             10            3     7                     0           0
108     South East                    Kent  E07000107  Special_and_PRU              1            0     1                     0           0
109     South East                    Kent  E07000108          Primary             28            6    21                     1           0
110     South East                    Kent  E07000108        Secondary              9            0     6                     2           1
111     South East                    Kent  E07000108  Special_and_PRU              2            0     2                     0           0
112     South East                    Kent  E07000109          Primary             21            2    17                     2           0
113     South East                    Kent  E07000109        Secondary              6            1     5                     0           0
114     South East                    Kent  E07000109  Special_and_PRU              1            0     1                     0           0
115     South East                    Kent  E07000110          Primary             44            6    38                     0           0
116     South East                    Kent  E07000110        Secondary             11            3     7                     1           0
117     South East                    Kent  E07000110  Special_and_PRU              4            3     1                     0           0
118     South East                    Kent  E07000111          Primary             32            5    26                     1           0
119     South East                    Kent  E07000111        Secondary              3            0     3                     0           0
120     South East                    Kent  E07000111  Special_and_PRU              1            0     1                     0           0
121     South East                    Kent  E07000112          Primary             30            3    27                     0           0
122     South East                    Kent  E07000112        Secondary              6            1     5                     0           0
123     South East                    Kent  E07000112  Special_and_PRU              2            1     1                     0           0
124     South East                    Kent  E07000113          Primary             41            7    28                     6           0
125     South East                    Kent  E07000113        Secondary              6            0     4                     1           1
126     South East                    Kent  E07000113  Special_and_PRU              1            0     1                     0           0
127     South East                    Kent  E07000114          Primary             28            6    22                     0           0
128     South East                    Kent  E07000114        Secondary              8            0     6                     1           1
129     South East                    Kent  E07000114  Special_and_PRU              5            1     3                     1           0
130     South East                    Kent  E07000115          Primary             36            4    29                     3           0
131     South East                    Kent  E07000115        Secondary             10            2     6                     2           0
132     South East                    Kent  E07000115  Special_and_PRU              3            0     3                     0           0
133     South East                    Kent  E07000116          Primary             26            3    19                     4           0
134     South East                    Kent  E07000116        Secondary              6            2     4                     0           0
135     South East                    Kent  E07000116  Special_and_PRU              4            0     3                     0           1
136     South East                 Reading  E06000038          Primary             30            5    24                     1           0
137     South East                 Reading  E06000038        Secondary              9            2     5                     1           1
138     South East                 Reading  E06000038  Special_and_PRU              4            0     4                     0           0

In [86]:
import pandas as pd

# Load the cleaned schools dataset and the 2025 HPI dataset.
df1 = pd.read_csv('final_schools.csv')
df2 = pd.read_csv('hpi_2025.csv')

# Standardize string formatting by stripping leading/trailing spaces.
df1['Local authority'] = df1['Local authority'].astype(str).str.strip()
df2['RegionName'] = df2['RegionName'].astype(str).str.strip()

# Select relevant columns from the schools dataset.
df1 = df1[['AreaCode', 'Region', 'Local authority', 'Ofsted phase',
           'Total schools', 'Outstanding', 'Good', 'Requires Improvement', 'Inadequate']]

# Select relevant columns from the HPI dataset.
df2 = df2[['RegionName', 'Year', 'AveragePrice',
           'DetachedPrice', 'SemiDetachedPrice', 'TerracedPrice', 'FlatPrice']]

# Merge the schools dataset with the 2025 HPI data on Local authority.
merged = pd.merge(
    df1,
    df2,
    left_on='Local authority',
    right_on='RegionName',
    how='right'
)

# Drop the redundant 'RegionName' column after merge.
merged = merged.drop(columns=['RegionName'])

# Rename HPI columns for clarity.
merged = merged.rename(columns={
    'AveragePrice': 'AverageHousePrice',
    'DetachedPrice' : 'DetachedHousePrice',
    'SemiDetachedPrice' : 'SemiDetachedHousePrice',
    'TerracedPrice': 'TerracedHousePrice'
})

# Display the column names and preview the first 100 rows.
print(merged.columns)
print(merged.head(100))

Index(['AreaCode', 'Region', 'Local authority', 'Ofsted phase', 'Total schools', 'Outstanding', 'Good', 'Requires Improvement', 'Inadequate', 'Year', 'AverageHousePrice', 'DetachedHousePrice',
       'SemiDetachedHousePrice', 'TerracedHousePrice', 'FlatPrice'],
      dtype='object')
     AreaCode      Region         Local authority     Ofsted phase  Total schools  Outstanding  Good  Requires Improvement  Inadequate  Year  AverageHousePrice  DetachedHousePrice  \
0   E09000002      London    Barking and Dagenham          Primary             27            3    23                     1           0  2025             362057            637084.0
1   E09000002      London    Barking and Dagenham        Secondary             13            6     7                     0           0  2025             362057            637084.0
2   E09000002      London    Barking and Dagenham  Special_and_PRU              3            0     3                     0           0  2025             362057            637084.0
3   E09000003      London                  Barnet          Primary             75           15    55                     5           0  2025             591623           1545394.0
4   E09000003      London                  Barnet        Secondary             25            6    19                     0           0  2025             591623           1545394.0
5   E09000003      London                  Barnet  Special_and_PRU              5            2     3                     0           0  2025             591623           1545394.0
6   E09000004      London                  Bexley          Primary             48           10    35                     3           0  2025             404631            720953.0
7   E09000004      London                  Bexley        Secondary             14            2     9                     2           1  2025             404631            720953.0
8   E09000004      London                  Bexley  Special_and_PRU              5            0     5                     0           0  2025             404631            720953.0
9   E09000005      London                   Brent          Primary             50            8    40                     1           1  2025             558017           1327669.0
10  E09000005      London                   Brent        Secondary             12            6     6                     0           0  2025             558017           1327669.0
11  E09000005      London                   Brent  Special_and_PRU              8            4     3                     1           0  2025             558017           1327669.0
12  E09000006      London                 Bromley          Primary             65           24    40                     1           0  2025             524455           1084482.0
13  E09000006      London                 Bromley        Secondary             18            5    11                     2           0  2025             524455           1084482.0
14  E09000006      London                 Bromley  Special_and_PRU              3            1     2                     0           0  2025             524455           1084482.0
15  E09000007      London                  Camden          Primary             30           17    13                     0           0  2025             859276           3528102.0
16  E09000007      London                  Camden        Secondary              8            1     7                     0           0  2025             859276           3528102.0
17  E09000007      London                  Camden  Special_and_PRU              3            1     2                     0           0  2025             859276           3528102.0
18  E09000019      London                  Camden  Special_and_PRU              1            0     1                     0           0  2025             859276           3528102.0
19  E09000001      London          City of London          Primary              1            1     0                     0           0  2025             757145                 NaN
20  E09000008      London                 Croydon          Primary             71           18    48                     5           0  2025             402029            857223.0
21  E09000008      London                 Croydon        Secondary             21            4    14                     3           0  2025             402029            857223.0
22  E09000008      London                 Croydon  Special_and_PRU             10            4     5                     1           0  2025             402029            857223.0
23  E09000009      London                  Ealing          Primary             50           14    34                     2           0  2025             574580           1355894.0
24  E09000009      London                  Ealing        Secondary             16           10     6                     0           0  2025             574580           1355894.0
25  E09000009      London                  Ealing  Special_and_PRU              4            2     2                     0           0  2025             574580           1355894.0
26  E09000010      London                 Enfield          Primary             58            9    49                     0           0  2025             474606           1234585.0
27  E09000010      London                 Enfield        Secondary             17            3    14                     0           0  2025             474606           1234585.0
28  E09000010      London                 Enfield  Special_and_PRU              4            1     3                     0           0  2025             474606           1234585.0
29  E09000011      London               Greenwich          Primary             38           12    26                     0           0  2025             461686            982156.0
30  E09000011      London               Greenwich        Secondary             16            3    10                     3           0  2025             461686            982156.0
31  E09000011      London               Greenwich  Special_and_PRU              4            2     2                     0           0  2025             461686            982156.0
32  E09000012      London                 Hackney          Primary             47           20    27                     0           0  2025             608224           1322518.0
33  E09000012      London                 Hackney        Secondary             14            4    10                     0           0  2025             608224           1322518.0
34  E09000012      London                 Hackney  Special_and_PRU              4            2     2                     0           0  2025             608224           1322518.0
35  E09000013      London  Hammersmith and Fulham          Primary             31           13    18                     0           0  2025             778246           1753315.0
36  E09000013      London  Hammersmith and Fulham        Secondary             11            5     6                     0           0  2025             778246           1753315.0
37  E09000013      London  Hammersmith and Fulham  Special_and_PRU              5            2     3                     0           0  2025             778246           1753315.0
38  E09000014      London                Haringey          Primary             47           18    27                     2           0  2025             627417           2291561.0
39  E09000014      London                Haringey        Secondary             10            4     6                     0           0  2025             627417           2291561.0
40  E09000014      London                Haringey  Special_and_PRU              5            4     1                     0           0  2025             627417           2291561.0
41  E09000015      London                  Harrow          Primary             38            9    27                     2           0  2025             542012           1231950.0
42  E09000015      London                  Harrow        Secondary             11            6     5                     0           0  2025             542012           1231950.0
43  E09000015      London                  Harrow  Special_and_PRU              4            3     1                     0           0  2025             542012           1231950.0
44  E09000016      London                Havering          Primary             44           10    33                     1           0  2025             441585            824556.0
45  E09000016      London                Havering        Secondary             15            4    11                     0           0  2025             441585            824556.0
46  E09000016      London                Havering  Special_and_PRU              4            0     4                     0           0  2025             441585            824556.0
47  E09000017      London              Hillingdon          Primary             52            8    42                     2           0  2025             477728            952567.0
48  E09000017      London              Hillingdon        Secondary             21            4    16                     1           0  2025             477728            952567.0
49  E09000017      London              Hillingdon  Special_and_PRU              8            3     5                     0           0  2025             477728            952567.0
50  E09000018      London                Hounslow          Primary             39            7    30                     2           0  2025             532561           1047734.0
51  E09000018      London                Hounslow        Secondary             20            7    13                     0           0  2025             532561           1047734.0
52  E09000018      London                Hounslow  Special_and_PRU              5            1     4                     0           0  2025             532561           1047734.0
53  E09000019      London               Islington          Primary             30            8    20                     1           1  2025             686157           1654244.0
54  E09000019      London               Islington        Secondary             10            5     5                     0           0  2025             686157           1654244.0
55  E09000019      London               Islington  Special_and_PRU              6            3     3                     0           0  2025             686157           1654244.0
56  E09000020      London  Kensington and Chelsea          Primary             23           11    11                     1           0  2025            1393484           4888450.0
57  E09000020      London  Kensington and Chelsea        Secondary              6            3     2                     0           1  2025            1393484           4888450.0
58  E09000020      London  Kensington and Chelsea  Special_and_PRU              2            0     2                     0           0  2025            1393484           4888450.0
59  E07000105  South East                    Kent          Primary             29            3    25                     1           0  2025             346783            603938.0
60  E07000105  South East                    Kent        Secondary              7            1     6                     0           0  2025             346783            603938.0
61  E07000105  South East                    Kent  Special_and_PRU              3            1     2                     0           0  2025             346783            603938.0
62  E07000106  South East                    Kent          Primary             28            9    19                     0           0  2025             346783            603938.0
63  E07000106  South East                    Kent        Secondary              9            1     7                     1           0  2025             346783            603938.0
64  E07000106  South East                    Kent  Special_and_PRU              1            0     1                     0           0  2025             346783            603938.0
65  E07000107  South East                    Kent          Primary             22            2    17                     3           0  2025             346783            603938.0
66  E07000107  South East                    Kent        Secondary             10            3     7                     0           0  2025             346783            603938.0
67  E07000107  South East                    Kent  Special_and_PRU              1            0     1                     0           0  2025             346783            603938.0
68  E07000108  South East                    Kent          Primary             28            6    21                     1           0  2025             346783            603938.0
69  E07000108  South East                    Kent        Secondary              9            0     6                     2           1  2025             346783            603938.0
70  E07000108  South East                    Kent  Special_and_PRU              2            0     2                     0           0  2025             346783            603938.0
71  E07000109  South East                    Kent          Primary             21            2    17                     2           0  2025             346783            603938.0
72  E07000109  South East                    Kent        Secondary              6            1     5                     0           0  2025             346783            603938.0
73  E07000109  South East                    Kent  Special_and_PRU              1            0     1                     0           0  2025             346783            603938.0
74  E07000110  South East                    Kent          Primary             44            6    38                     0           0  2025             346783            603938.0
75  E07000110  South East                    Kent        Secondary             11            3     7                     1           0  2025             346783            603938.0
76  E07000110  South East                    Kent  Special_and_PRU              4            3     1                     0           0  2025             346783            603938.0
77  E07000111  South East                    Kent          Primary             32            5    26                     1           0  2025             346783            603938.0
78  E07000111  South East                    Kent        Secondary              3            0     3                     0           0  2025             346783            603938.0
79  E07000111  South East                    Kent  Special_and_PRU              1            0     1                     0           0  2025             346783            603938.0
80  E07000112  South East                    Kent          Primary             30            3    27                     0           0  2025             346783            603938.0
81  E07000112  South East                    Kent        Secondary              6            1     5                     0           0  2025             346783            603938.0
82  E07000112  South East                    Kent  Special_and_PRU              2            1     1                     0           0  2025             346783            603938.0
83  E07000113  South East                    Kent          Primary             41            7    28                     6           0  2025             346783            603938.0
84  E07000113  South East                    Kent        Secondary              6            0     4                     1           1  2025             346783            603938.0
85  E07000113  South East                    Kent  Special_and_PRU              1            0     1                     0           0  2025             346783            603938.0
86  E07000114  South East                    Kent          Primary             28            6    22                     0           0  2025             346783            603938.0
87  E07000114  South East                    Kent        Secondary              8            0     6                     1           1  2025             346783            603938.0
88  E07000114  South East                    Kent  Special_and_PRU              5            1     3                     1           0  2025             346783            603938.0
89  E07000115  South East                    Kent          Primary             36            4    29                     3           0  2025             346783            603938.0
90  E07000115  South East                    Kent        Secondary             10            2     6                     2           0  2025             346783            603938.0
91  E07000115  South East                    Kent  Special_and_PRU              3            0     3                     0           0  2025             346783            603938.0
92  E07000116  South East                    Kent          Primary             26            3    19                     4           0  2025             346783            603938.0
93  E07000116  South East                    Kent        Secondary              6            2     4                     0           0  2025             346783            603938.0
94  E07000116  South East                    Kent  Special_and_PRU              4            0     3                     0           1  2025             346783            603938.0
95  E09000021      London    Kingston upon Thames          Primary             24            9    15                     0           0  2025             591359           1279276.0
96  E09000021      London    Kingston upon Thames        Secondary             10            4     6                     0           0  2025             591359           1279276.0
97  E09000021      London    Kingston upon Thames  Special_and_PRU              2            0     2                     0           0  2025             591359           1279276.0
98  E09000029      London    Kingston upon Thames          Primary              1            0     1                     0           0  2025             591359           1279276.0
99  E09000022      London                 Lambeth          Primary             52           15    33                     4           0  2025             561960           1178979.0

    SemiDetachedHousePrice  TerracedHousePrice  FlatPrice
0                 469094.0            390728.0     250080
1                 469094.0            390728.0     250080
2                 469094.0            390728.0     250080
3                 817481.0            613238.0     377483
4                 817481.0            613238.0     377483
5                 817481.0            613238.0     377483
6                 516752.0            404607.0     247181
7                 516752.0            404607.0     247181
8                 516752.0            404607.0     247181
9                 825830.0            697107.0     396761
10                825830.0            697107.0     396761
11                825830.0            697107.0     396761
12                658716.0            489882.0     318861
13                658716.0            489882.0     318861
14                658716.0            489882.0     318861
15               2096487.0           1562194.0     715654
16               2096487.0           1562194.0     715654
17               2096487.0           1562194.0     715654
18               2096487.0           1562194.0     715654
19                     NaN                 NaN     757252
20                542295.0            402322.0     268703
21                542295.0            402322.0     268703
22                542295.0            402322.0     268703
23                847148.0            683531.0     410449
24                847148.0            683531.0     410449

In [87]:
# Remove specific rows by index (e.g., outliers or duplicates) and reset the index.
merged = merged.drop(index = [18,98]).reset_index(drop=True)

# Preview the first 100 rows of the cleaned merged dataset.
merged.head(100)

# Export the final merged dataset of schools and HPI data to a CSV file.
merged.to_csv('Schools_HPI.csv')